[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telethon = "*"
certifi = "*"
chardet = "==3.0.4"
idna = "*"
pyaes = "*"
pyasn1 = "*"
requests = "*"
rsa = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
